body {
  overflow: hidden;
}

.app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  max-height: 100vh;
  /* overflow: hidden; */
  background-color: pink;
}

.app .sidebar {
  background-color: blue;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#player {
  height: 100%;
}

.app .video {
  background-color: red;
  display: flex;
  position: relative;
  min-height: 100vh;
}

.app .sidebar p,
.app .video p {
  color: white;
}

@media only screen and (max-width:1200px) {
  body {
    overflow: auto !important;
  }

  .app {
    flex-direction: column;
  }

  .app .sidebar {
    display: flex;
    width: 100%;
    min-height: unset !important;
    min-width: unset !important;
    height: 100%;
  }

  .app .video {
    display: flex;
    width: 100%;
    min-height: unset !important;
    min-width: unset !important;
    height: calc(100vw);
  }
}